:root {
    /* Définition des couleurs de la palette */
    --color-primary: #003366; /* Bleu Profond */
    --color-secondary: #000000; /* Vert Émeraude */
    --color-accent: #F5B041; /* Jaune Vif */
    --color-background-light: #F8F9F9;
    --color-text-dark: #333;
    --color-white: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    color: var(--color-text-dark);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

/* --- 1. HEADER --- */
.main-header {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.main-header .logo {
    font-weight: bold;
    font-size: 1.5em;
}

.main-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header nav a {
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.main-header nav a:hover,
.main-header nav a.active {
    background-color: rgba(255, 255, 255, 0.1);
}


.pied-page {
    background-color: #2d2d2d;
    color: #e5e7eb;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}

/* --- STYLE SPECIFIQUE POUR LES PAGES DETAILS --- */

.page-details {
    padding-top: 40px;
    padding-bottom: 60px;
}

.page-details h1 {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-accent);
    display: inline-block;
    margin-bottom: 30px;
}

.categorie-info {
    margin-bottom: 25px;
    text-align: left; /* Aligne le texte à gauche pour la lecture */
}

.categorie-info h2 {
    font-size: 1.3em;
    color: var(--color-primary);
    text-decoration: underline; /* Souligne le titre comme demandé */
    font-weight: bold; /* Titre en gras */
    margin-bottom: 10px;
}

.categorie-info ul {
    list-style-type: square; /* Style de puce carré pour changer du standard */
    padding-left: 20px;
    margin: 0;
}

.categorie-info li {
    margin-bottom: 8px;
    line-height: 1.5;
    color: var(--color-text-dark);
}

.categorie-info strong {
    color: var(--color-primary);
}
/* --- Style pour le logo en haut de page --- */

.logo-fiche-conteneur {
    text-align: center; /* Centre le logo horizontalement */
    margin-bottom: 20px; /* Espace entre le logo et le titre h1 */
    margin-top: 20px;    /* Espace au-dessus du logo */
}

.logo-fiche {
    max-width: 200px;    /* Ajustez la largeur selon vos besoins */
    height: auto;        /* Garde les proportions de l'image */
    display: inline-block;
}
